<div id="titleList">
    <img src="../../../assets/img/soccer.png" alt="">
    <h2>Danh Sách Sân Bóng</h2>
</div>
<div id="listSportCenter">
    <mat-card class="sportCenter"  *ngFor="let item of listSportCenter">
        <a routerLink="/detail/{{ item.id }}">
            <img class="imgCard" mat-card-image src="{{ item.banner }}">
            <a routerLink="/edit/{{ item.id }}"><mat-icon class="iconUpdate">create</mat-icon></a>
            <mat-card-content class="result">
                <mat-icon class="icon">settings </mat-icon> <p>{{ item.type }}</p>
            </mat-card-content>
            <mat-card-content class="result">
                <mat-icon  class="icon">work</mat-icon> <p>{{ item.name }}</p>
            </mat-card-content>
            <mat-card-content class="result">
                <mat-icon  class="icon">perm_phone_msg</mat-icon> <p>{{ item.phonenumber }}</p>
            </mat-card-content>
            <mat-card-content class="result">
                <mat-icon  class="icon">add_location</mat-icon> <p class="address">{{ item.address }}</p>
            </mat-card-content>
        </a>
    </mat-card>
</div>









<!-- <mat-grid-list cols="4" rowHeight="13:16" id="listProduct">
    <mat-grid-tile colspan="1" *ngFor="let item of listSportCenter">
        <mat-card id="card">
            <a routerLink="/detail/{{ item.id }}">
                <mat-card id="itemCard">
                    <a routerLink="/edit/{{ item.id }}"><mat-icon class="iconUpdate">create</mat-icon></a>
                    <img class="imgCard" mat-card-image src="{{ item.banner }}"> 
                    <mat-card-content class="result">
                        <mat-icon class="icon">settings </mat-icon> <p>{{ item.type }}</p>
                    </mat-card-content>
                    <mat-card-content class="result">
                        <mat-icon  class="icon">work</mat-icon> <p>{{ item.name }}</p>
                    </mat-card-content>
                    <mat-card-content class="result">
                        <mat-icon  class="icon">perm_phone_msg</mat-icon> <p>{{ item.phonenumber }}</p>
                    </mat-card-content>
                    <mat-card-content class="result">
                        <mat-icon  class="icon">add_location</mat-icon> <p class="address">{{ item.address }}</p>
                    </mat-card-content>
                </mat-card>
            </a>     
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->

