<mat-grid-list cols="6" rowHeight="4:1" id="header">
    <mat-grid-tile colspan="2">
        <img src="../../../assets/img/50467824_2254228821267980_4214246082911141888_o.jpg" alt="" id="logo">
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <a routerLink="/new" style="color: white;">
            <button mat-button>Thêm Sân</button>
        </a>
        <button mat-button>Đăng Nhập</button>
        <button mat-button id="btnRegis">Đăng Ký</button>
        <img src="../../../assets/img/ball.png" alt="" id="imgMenu">
    </mat-grid-tile>
</mat-grid-list>
