#header{
    background-color: black;
    color:white;
    width:100%;
    height:1em !important;
    @mixin img {
        height:100%;
        border-radius: 100%;
    }
    #logo{
        @include img();
        margin-right:20%;
    }
    #imgMenu{
        @include img();
        margin-left:2%;
    }
    #btnRegis{
        color:#C2E71D;
    }
    button:hover{
        color:#C2E71D;
    }
}

@media (max-width: 575.98px) { 
    #header{
        padding-top:1em;
        #logo{
            height:2em;
            width:20% !important;
        }
        button{
            font-size: 0.7em;
            margin-left:0em !important;
        }
        #imgMenu{
            margin-right:1em;
        }
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px){
     #header{
        padding-top:1em;
     }
 }

 @media (min-width: 992px) and (max-width: 1199.98px) { 
     #header{
         padding-top: 1em;
     }
  }