#detailSportCenter{
    width:60%;
    height:44em;
    margin-left:20%;
    margin-top:2em;
    margin-bottom:2%;
    #info{
        width:80%;
        height:60%;
        padding:2% 8%; 
        .icon{
            float:left;
            color:#C2E71D;
            margin-right:0.5em;
        }
        .input{
            width:80%;
            margin-left:5%;
            .checked{
                margin-left: 0.5em;
            }
        }
        .title{
            margin-top:0.2em;
            margin-left:1em;
        }
        button{
            margin-top:2.5em;
            margin-left:1em;
            border-radius: 20px 20px;
        }
        #btnSave{
            margin-left:3em;
        }
    }
}
@media (max-width: 514px) { 
    #detailSportCenter{
        width:80%;
        margin-left:5%;
        height:41em;
        #info{
            padding:0 0;
            width:100%; 
            .title{
                margin-left:0;
                font-size: 1.2em;
            }
            .input{
                width:90%;
            }
            #btnSave{
                margin-left:2em;
            }
            button{
                margin-left:1em;
                font-size: 0.8em;
            }
        }
    }
 }
@media (min-width: 515px) and (max-width: 767px){
    #btnSave{
        margin-left:1em !important;
    }
    button{
        margin-left:0.5em;
        font-size: 0.8em;
    }
}


 @media (min-width: 768px) and (max-width: 991.98px) { 
    #detailSportCenter{
        height:42em;
        #info{
            button{
                margin-left:1.5em !important;
            }
            .input{
                margin-left:3em;
            }
            .result{
                width:100%;
            }
        }
        
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #detailSportCenter{
        height:45em;
    }
    .input{
        margin-left:3em !important;
    }
}


 