<mat-card id="detailSportCenter">
    <img  src="{{ sportDetail.banner }}"
        alt="Photo of a Shiba Inu">
    <div id="info">
       
        <mat-card-title class="title">
            <mat-icon  class="icon">work</mat-icon>Name
        </mat-card-title>
        <mat-card-content class="result">{{ sportDetail.name }}</mat-card-content>

        <mat-card-title class="title">
            <mat-icon  class="icon">add_location</mat-icon>Address
        </mat-card-title>
        <mat-card-content class="result">{{ sportDetail.address }}</mat-card-content>

        <mat-card-title class="title">
            <mat-icon  class="icon">perm_phone_msg</mat-icon>Phone number
        </mat-card-title>
        <mat-card-content class="result">{{ sportDetail.phonenumber }}</mat-card-content>

        <mat-card-title class="title"> 
            <mat-icon class="icon">check_circle</mat-icon>Type
        </mat-card-title>
        <div class="result">
            <mat-checkbox class="checked" [checked]="arrayType.indexOf('Sân 5') == -1 ? false : true"> Sân 5 </mat-checkbox>
            <mat-checkbox class="checked" [checked]="arrayType.indexOf('Sân 7') == -1 ? false : true"> Sân 7 </mat-checkbox>
            <mat-checkbox class="checked" [checked]="arrayType.indexOf('Sân 5 và Sân 7') == -1 ? false : true"> Sân 5 và Sân 7 </mat-checkbox>
            <mat-checkbox class="checked" [checked]="arrayType.indexOf('Sân 11') == -1 ? false : true"> Sân 11 </mat-checkbox>
        </div>

        <a routerLink="/edit/{{ sportDetail.id }}">
            <button mat-raised-button id="btnSave">EDIT</button>
        </a>
        <a routerLink="/home">
            <button mat-raised-button id="btnBack">BACK</button>
        </a>
    </div>
</mat-card>