#detailSportCenter{
    width:60%;
    margin-left:20%;
    margin-top:3%;
    height:51em;
    img{
        height: 40% !important;
        width:60%;
        margin-left:20%;
        border-radius: 5px 5px;
    }
    #info{
        width:80%;
        height:60%;
        padding:10% 10%; 
        .title{
            margin-top:0.2em;
            margin-left:1em;
            .icon{
                float:left;
                color:#C2E71D;
                margin-right:1em;
            }
        }
        .result{
            margin:2% 10%;
            .checked{
                margin-left:0.5em;
            }
        }
        #btnSave{
            margin-left:10% !important;
        }
        button{
            margin-top:1em;
            margin-left:3em;
            border-radius: 20px 20px;
        }
        #btnBack{
            margin-left:1em;
        }
    }
}
@media (max-width: 320px) { 
    #detailSportCenter{
        width:80%;
        margin-left:5%;
        height:36em;
        img{
            width:100%;
            margin-left:0%;
            height:35% !important;
        }
        #info{
            padding:0 0;
            width:100%; 
            .title{
                font-size: 1.2em;
                .icon{
                    margin-right:0.3em;
                }
            }
            .result{
                margin-left:20%;
                font-size: 0.8em;
            }
            .input{
                width:90%;
            }
            #btnSave{
                margin-left:4em !important;
            }
            button{
                margin-left:1em;
                font-size: 0.8em;
            }
        }
    }
 }
@media (min-width: 321px) and (max-width: 575.98px) { 
    #detailSportCenter{
        width:80%;
        margin-left:5%;
        height:35em;
        img{
            width:100%;
            margin-left:0%;
            height:33% !important;
        }
        #info{
            padding:0 0;
            width:100%; 
            .title{
                font-size: 1.2em;
                .icon{
                    margin-right:0.3em;
                }
            }
            .result{
                margin-left:15%;
                font-size: 0.8em;
            }
            .input{
                width:90%;
            }
            #btnSave{
                margin-left:4em !important;
            }
            button{
                margin-left:1em;
                font-size: 0.8em;
            }
        }
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
    #detailSportCenter{
        height:42em;
        img{
            width:90%;
            margin-left:5%;
        }
        #info{
            padding-left:5%;
            height:40% !important;
            button{
                margin-left:1.5em !important;
            }
            .input{
                margin-left:3em;
            }
            .result{
                width:100%;
                margin-left:15%;
            }
            .icon{
                margin-right:0.2em;
            }
            .title{
                margin-left:0.5em;
            }
            #btnSave{
                margin-left:15% !important;
            }
        }
        
    }
}
@media (min-width: 992px) and (max-width: 1280px) { 
    #detailSportCenter{
        height:54em;
        img{
            width:90%;
            margin-left:5%;
            height:50% !important;
        }
        .result{
            margin-left:15% !important;
        }
    }
    .input{
        margin-left:3em !important;
    }
}
@media (min-width: 1280px) and (max-width: 1980px) { 
    #detailSportCenter{
        height:72em;
        img{
            width:90%;
            margin-left:5%;
            height:50% !important;
        }
        .result{
            margin-left:10% !important;
            font-size: 1.3em;
        }
    }
    .input{
        margin-left:3em !important;
    }
}

