<mat-card id="detailSportCenter">
    <div id="info">
        
        <form (ngSubmit)="onSubmit()">
            <mat-card-title class="title"><mat-icon  class="icon">work</mat-icon> Name</mat-card-title>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Celadon" [formControl]="name" required>
            </mat-form-field>
           
        
            <mat-card-title class="title"> <mat-icon  class="icon">add_location</mat-icon>Address</mat-card-title>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Address</mat-label>
                <input matInput placeholder="36 Bờ Bao Tân Thắng, Phường Sơn Kỳ, Quận Tân Phú, Hồ Chí Minh" [formControl]="address" required>
            </mat-form-field>

            
            <mat-card-title class="title"><mat-icon  class="icon">perm_phone_msg</mat-icon>Phone number</mat-card-title>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="0385575500" [formControl]="phonenumber" required minlength="10" maxlength="10" number>
            </mat-form-field>

            <mat-card-title class="title"><mat-icon  class="icon">theaters</mat-icon>Banner</mat-card-title>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Banner</mat-label>
                <input matInput placeholder="https://qdas.s3.amazonaws.com/sport-centers/3cb4b626-b14b-4cbd-9b48-2d777429a185.png" [formControl]="banner">
            </mat-form-field>
            
            <mat-card-title class="title"><mat-icon class="icon">check_circle</mat-icon>Type</mat-card-title>
            <div class="result" class="input">
                <mat-checkbox class="checked" [formControl]="type1">Sân 5</mat-checkbox>
                <mat-checkbox class="checked" [formControl]="type2">Sân 7</mat-checkbox>   
                <mat-checkbox class="checked" [formControl]="type3">Sân 5 và Sân 7</mat-checkbox>
                <mat-checkbox class="checked" [formControl]="type4">Sân 11</mat-checkbox> 
            </div>
            <div *ngIf="isActive" id="errorType"><i>Loại sân là bắt buộc *</i></div>
            
            <button type="submit" mat-raised-button >SAVE</button>
            <a routerLink="/home">
                <button mat-raised-button id="btnBack">BACK</button>
            </a>
        </form>
    </div>
</mat-card>