#detailSportCenter{
    width:60%;
    height:44em;
    margin-left:20%;
    margin-top:3%;
    margin-bottom:2%;
    #info{
        width:80%;
        height:60%;
        padding:2% 8%; 
        .icon{
            float:left;
            color:#C2E71D;
            margin-right:0.5em;
        }
        .input{
            width:80%;
            margin-left:5%;
            .checked{
                margin-left: 0.5em;
            }
        }
        .title{
            margin-top:0.2em;
            margin-left:1em;
        }
        button{
            margin-top:2.5em;
            margin-left:3em;
            border-radius: 20px 20px;
        }
        #btnBack{
            margin-left:1em;
        }
        #errorType{
            color:red;
            margin-left:5%;
            margin-top:2%;
        }
    }
}

@media (max-width: 575.98px) { 
    #detailSportCenter{
        width:80%;
        margin-left:5%;
        height:42em;
        #info{
            padding:0 0;
            width:100%; 
            .title{
                margin-left:0;
                font-size: 1.2em;
            }
            .input{
                width:90%;
            }
            button{
                margin-left:1em;
                font-size: 0.8em;
            }
        }
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
    #detailSportCenter{
        height:44em;
        button{
            margin-left:1.5em !important;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    #detailSportCenter{
        height:43em;
    }
}

 