<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-sport-center-list></app-sport-center-list> -->
<!-- <app-detail-sport-center></app-detail-sport-center> -->
<!-- <app-sport-center-new></app-sport-center-new> -->
<!-- <app-sport-center-edit-update></app-sport-center-edit-update> -->